body{
  margin: 0;
}

/* .container{
  background: pink;
  height: 100px;
  width: 200px;
}

span{
  background-color: green;
} */

.card{
  border: 1px solid crimson;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.card:hover {
  background-color: orange;
}