body{
  margin: 0;
  padding: 0;
}

.primary-nav{
  background-color: aliceblue;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
}

.primary-nav,
nav{
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
}

/* 
nav a.active{
  text-decoration: none;
  font-weight: bold; 
} */